#cal{
    background-color: grey;
    margin-top: 10px;
    height: 360px;
    
    
}
#cal1{
    width: 340px;
    margin-top: 20px;
}

#btn1{
    width: 50px;
    margin-top: 10px;
    color: hotpink;
    margin-left: 30px;
    padding: 10px;
    background-color: green;
}
#btn{
    width: 50px;
    margin-top: 10px;
    color: hotpink;

    padding: 10px;
    background-color: green;
}
#btn2{
    width: 50px;
    margin-top: 10px;
    color: hotpink;
    margin-left: 30px;
    padding: 10px;
    background-color: green;
}
#btn3{
    width: 50px;
    margin-top: 10px;
    color: hotpink;
    margin-left: 40px;
    padding: 10px;
    background-color: green;
}
#btn5{
    margin-top: 30px;
    width: 50px;
    color: hotpink;
    margin-left: 1px;
    padding: 10px;
    background-color: green

}
#btn6{
    margin-top: 30px;
    width: 50px;
    color: hotpink;
    margin-left: 30px;
    padding: 10px;
    background-color: green

}
#btn7{
    margin-top: 30px;
    width: 50px;
    color: hotpink;
    margin-left: 30px;
    padding: 10px;
    background-color: green

}
#btn8{
    margin-top: 30px;
    width: 50px;
    color: hotpink;
    margin-left: 30px;
    padding: 10px;
    background-color: green

}
#btn8{
    margin-top: 30px;
    width: 50px;
    color: hotpink;
    margin-left: 40px;
    padding: 10px;
    background-color: green

}
#btn9{
    margin-top: 30px;
    width: 50px;
    color: hotpink;
    margin-left: 1px;
    padding: 10px;
    background-color: green

}
#btn0{
    margin-top: 30px;
    width: 50px;
    color: hotpink;
    margin-left: 30px;
    padding: 10px;
    background-color: green

}
#btnbc
{
    margin-top: 30px;
    width: 50px;
    color: hotpink;
    margin-left: 30px;
    padding: 10px;
    background-color: green

}
#btnce{
    margin-top: 30px;
    width: 50px;
    color: hotpink;
    margin-left: 40px;
    padding: 10px;
    background-color: green
}
#btnp{
    margin-top: 30px;
    width: 50px;
    color: hotpink;
    margin-left: 1px;
    padding: 10px;
    background-color: green

}
#btnm{
    margin-top: 30px;
    width: 50px;
    color: hotpink;
    margin-left: 30px;
    padding: 10px;
    background-color: green


}
#btnmu{
    margin-top: 30px;
    width: 50px;
    color: hotpink;
    margin-left: 30px;
    padding: 10px;
    background-color: green

}
#btnd{
    margin-top: 30px;
    width: 50px;
    color: hotpink;
    margin-left: 40px;
    padding: 10px;
    background-color: green

}
#btne{
    margin-top: 30px;
    width: 50px;
    color: hotpink;
    margin-left: 40px;
    padding: 10px;
    background-color: green

}